<!doctype html>
<html>
<head>
  <script src='https://js.braintreegateway.com/web/dropin/1.3.0/js/dropin.min.js'></script>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
</head>

<body>

  <div id='drop-in-container'>
  </div>

  <button id='tokenizer'>Submit Drop-in</button>
  <button id='continuer' disabled=true>Continue</button>

  <script>

    function postbackNonce(tokenizedPayload) {
      jQuery.post(
          '/store_nonce/',
          {
            nonce: tokenizedPayload.nonce,
            payment_method_type: tokenizedPayload.type
          },
          function (redirectUrl, status, xhr) {
            window.location = redirectUrl
          }
      );
    }

    var submitter = document.querySelector('#tokenizer');
    var continuer = document.querySelector('#continuer');

    braintree.dropin.create({

      authorization: '{{ client_token }}',
      selector: '#drop-in-container',
      //locale: 'es_ES',
      //paypal: {
      //  flow: 'vault'
      //},
      //paymentOptionPriority: ['paypal', 'card']

    }, function (error, dropInInstance) {

      //dropin has been created (or there's been an error)
      if (error) {
        console.error(error);
        return;
      }

      submitter.addEventListener('click', function () {
        dropInInstance.requestPaymentMethod(function (tokenizationErr, payload) {

          if (tokenizationErr) {
            console.error(tokenizationErr);
            return;
          }

          console.log('full payload:', payload, 'details:', payload.details);
          continuer.addEventListener('click', function () {
            postbackNonce(payload);
          });
          document.querySelector('#continuer').disabled = false;
          document.querySelector('#tokenizer').disabled = true;

        });
      });

    });

  </script>

</body>

</html>
